.sidebar {
  width: 220px;
  background: #f4f4f4;
  padding: 12px;

  .collection-item {
    cursor: pointer;
    padding: 4px 8px;
    transition: background 0.2s ease;

    &:hover {
      background: #f2f2f2;
    }

    .collection-name {
      text-decoration: underline;
    }
  }
  .add-button {
    margin-top: 120px;
    padding: 8px;
    background: #ddd;
    cursor: pointer;
    text-align: center;
    font-weight: bold;

    &:hover {
      background: #ccc;
    }
  }
}
