<div class="container">
  <div class="top-section">
    <!-- Top section content -->
    <h1>Top Section</h1>
    <div class="top-right">
      <app-login-form *ngIf="!isLoggedIn()"></app-login-form>
      <app-user-details
        *ngIf="isLoggedIn()"
        (mailboxClick)="loadMailbox()"
        (logoutClick)="logout()"
      ></app-user-details>
    </div>
  </div>
  <div class="main-content">
    <div class="left-side">
      <!-- Left side content -->
      <h2>Left Side</h2>
      <app-collections-sidebar
        (collectionSelected)="onCollectionSelected($event)"
        (addCollectionRequested)="onAddCollectionRequested()"
        (exchangeSelected)="onExchangeSelected($event)"
        (proposalsSelected)="onLoadProposals($event)"
      ></app-collections-sidebar>
    </div>
    <div class="content-area">
      <!-- Main content area -->
      <app-dynamic-host></app-dynamic-host>
    </div>
  </div>
</div>
<app-notification />
