<div class="collections-sidebar">
  <h3>Collections:</h3>
  <ul>
    <li *ngFor="let collection of collections()">
      <div (click)="toggle(collection)" class="collection-header">
        {{ collection.collection.name }}
      </div>
      <ul *ngIf="openedCollection === collection" class="sub-listing">
        <li (click)="select(collection)">Collection</li>
        <li (click)="exchange(collection)">Exchange</li>
        <li (click)="proposals(collection)">Proposals</li>
      </ul>
    </li>
  </ul>
</div>
<div class="action-bar">
  <button (click)="addToCollection()">Add to collection</button>
</div>
