<div class="user-details">
  <div
    class="dropdown"
    [class.open]="menuOpen()"
    (mouseenter)="showMenu()"
    (mouseleave)="hideMenu()"
  >
    <button class="dropdown-toggle" type="button" (click)="toggleMenu()">
      Menu &#9662;
    </button>
    <div class="dropdown-menu" *ngIf="menuOpen()" (mouseenter)="showMenu()" (mouseleave)="hideMenu()">
      <button type="button" (click)="openMailbox()">Mailbox</button>
      <button type="button" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
